xml-resources/web-service-references/LocalWS/wsdl/localhost_8080/AV03_SERVICES/LocalWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services/" name="LocalWS">
<types>
<xsd:schema>
<xsd:import namespace="http://services/" schemaLocation="http://localhost:8080/AV03_SERVICES/LocalWS?xsd=1"/>
</xsd:schema>
</types>
<message name="localPorID">
<part name="parameters" element="tns:localPorID"/>
</message>
<message name="localPorIDResponse">
<part name="parameters" element="tns:localPorIDResponse"/>
</message>
<message name="criarLocal">
<part name="parameters" element="tns:criarLocal"/>
</message>
<message name="criarLocalResponse">
<part name="parameters" element="tns:criarLocalResponse"/>
</message>
<message name="alterarLocal">
<part name="parameters" element="tns:alterarLocal"/>
</message>
<message name="alterarLocalResponse">
<part name="parameters" element="tns:alterarLocalResponse"/>
</message>
<message name="excluirLocal">
<part name="parameters" element="tns:excluirLocal"/>
</message>
<message name="excluirLocalResponse">
<part name="parameters" element="tns:excluirLocalResponse"/>
</message>
<message name="listarLocais">
<part name="parameters" element="tns:listarLocais"/>
</message>
<message name="listarLocaisResponse">
<part name="parameters" element="tns:listarLocaisResponse"/>
</message>
<portType name="LocalWS">
<operation name="localPorID">
<input wsam:Action="http://services/LocalWS/localPorIDRequest" message="tns:localPorID"/>
<output wsam:Action="http://services/LocalWS/localPorIDResponse" message="tns:localPorIDResponse"/>
</operation>
<operation name="criarLocal">
<input wsam:Action="http://services/LocalWS/criarLocalRequest" message="tns:criarLocal"/>
<output wsam:Action="http://services/LocalWS/criarLocalResponse" message="tns:criarLocalResponse"/>
</operation>
<operation name="alterarLocal">
<input wsam:Action="http://services/LocalWS/alterarLocalRequest" message="tns:alterarLocal"/>
<output wsam:Action="http://services/LocalWS/alterarLocalResponse" message="tns:alterarLocalResponse"/>
</operation>
<operation name="excluirLocal">
<input wsam:Action="http://services/LocalWS/excluirLocalRequest" message="tns:excluirLocal"/>
<output wsam:Action="http://services/LocalWS/excluirLocalResponse" message="tns:excluirLocalResponse"/>
</operation>
<operation name="listarLocais">
<input wsam:Action="http://services/LocalWS/listarLocaisRequest" message="tns:listarLocais"/>
<output wsam:Action="http://services/LocalWS/listarLocaisResponse" message="tns:listarLocaisResponse"/>
</operation>
</portType>
<binding name="LocalWSPortBinding" type="tns:LocalWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="localPorID">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="criarLocal">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="alterarLocal">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="excluirLocal">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarLocais">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="LocalWS">
<port name="LocalWSPort" binding="tns:LocalWSPortBinding">
<soap:address location="http://localhost:8080/AV03_SERVICES/LocalWS"/>
</port>
</service>
</definitions>