xml-resources/web-service-references/ParticipanteWS/wsdl/localhost_8080/AV03_SERVICES/ParticipanteWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services/" name="ParticipanteWS">
<types>
<xsd:schema>
<xsd:import namespace="http://services/" schemaLocation="http://localhost:8080/AV03_SERVICES/ParticipanteWS?xsd=1"/>
</xsd:schema>
</types>
<message name="listarParticipantes">
<part name="parameters" element="tns:listarParticipantes"/>
</message>
<message name="listarParticipantesResponse">
<part name="parameters" element="tns:listarParticipantesResponse"/>
</message>
<message name="participantePorID">
<part name="parameters" element="tns:participantePorID"/>
</message>
<message name="participantePorIDResponse">
<part name="parameters" element="tns:participantePorIDResponse"/>
</message>
<message name="alteraParticipante">
<part name="parameters" element="tns:alteraParticipante"/>
</message>
<message name="alteraParticipanteResponse">
<part name="parameters" element="tns:alteraParticipanteResponse"/>
</message>
<message name="deleteParticipante">
<part name="parameters" element="tns:deleteParticipante"/>
</message>
<message name="deleteParticipanteResponse">
<part name="parameters" element="tns:deleteParticipanteResponse"/>
</message>
<message name="criarParticipante">
<part name="parameters" element="tns:criarParticipante"/>
</message>
<message name="criarParticipanteResponse">
<part name="parameters" element="tns:criarParticipanteResponse"/>
</message>
<portType name="ParticipanteWS">
<operation name="listarParticipantes">
<input wsam:Action="http://services/ParticipanteWS/listarParticipantesRequest" message="tns:listarParticipantes"/>
<output wsam:Action="http://services/ParticipanteWS/listarParticipantesResponse" message="tns:listarParticipantesResponse"/>
</operation>
<operation name="participantePorID">
<input wsam:Action="http://services/ParticipanteWS/participantePorIDRequest" message="tns:participantePorID"/>
<output wsam:Action="http://services/ParticipanteWS/participantePorIDResponse" message="tns:participantePorIDResponse"/>
</operation>
<operation name="alteraParticipante">
<input wsam:Action="http://services/ParticipanteWS/alteraParticipanteRequest" message="tns:alteraParticipante"/>
<output wsam:Action="http://services/ParticipanteWS/alteraParticipanteResponse" message="tns:alteraParticipanteResponse"/>
</operation>
<operation name="deleteParticipante">
<input wsam:Action="http://services/ParticipanteWS/deleteParticipanteRequest" message="tns:deleteParticipante"/>
<output wsam:Action="http://services/ParticipanteWS/deleteParticipanteResponse" message="tns:deleteParticipanteResponse"/>
</operation>
<operation name="criarParticipante">
<input wsam:Action="http://services/ParticipanteWS/criarParticipanteRequest" message="tns:criarParticipante"/>
<output wsam:Action="http://services/ParticipanteWS/criarParticipanteResponse" message="tns:criarParticipanteResponse"/>
</operation>
</portType>
<binding name="ParticipanteWSPortBinding" type="tns:ParticipanteWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="listarParticipantes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="participantePorID">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="alteraParticipante">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteParticipante">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="criarParticipante">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ParticipanteWS">
<port name="ParticipanteWSPort" binding="tns:ParticipanteWSPortBinding">
<soap:address location="http://localhost:8080/AV03_SERVICES/ParticipanteWS"/>
</port>
</service>
</definitions>