src/META-INF/wsdl/localhost_8080/AV03_SERVICES/ContatoWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services/" name="ContatoWS">
<types>
<xsd:schema>
<xsd:import namespace="http://services/" schemaLocation="http://localhost:8080/AV03_SERVICES/ContatoWS?xsd=1"/>
</xsd:schema>
</types>
<message name="alterarContato">
<part name="parameters" element="tns:alterarContato"/>
</message>
<message name="alterarContatoResponse">
<part name="parameters" element="tns:alterarContatoResponse"/>
</message>
<message name="criarContato">
<part name="parameters" element="tns:criarContato"/>
</message>
<message name="criarContatoResponse">
<part name="parameters" element="tns:criarContatoResponse"/>
</message>
<message name="excluirContato">
<part name="parameters" element="tns:excluirContato"/>
</message>
<message name="excluirContatoResponse">
<part name="parameters" element="tns:excluirContatoResponse"/>
</message>
<message name="contatoPorID">
<part name="parameters" element="tns:contatoPorID"/>
</message>
<message name="contatoPorIDResponse">
<part name="parameters" element="tns:contatoPorIDResponse"/>
</message>
<message name="contatoPorNome">
<part name="parameters" element="tns:contatoPorNome"/>
</message>
<message name="contatoPorNomeResponse">
<part name="parameters" element="tns:contatoPorNomeResponse"/>
</message>
<message name="listarContatos">
<part name="parameters" element="tns:listarContatos"/>
</message>
<message name="listarContatosResponse">
<part name="parameters" element="tns:listarContatosResponse"/>
</message>
<portType name="ContatoWS">
<operation name="alterarContato">
<input wsam:Action="http://services/ContatoWS/alterarContatoRequest" message="tns:alterarContato"/>
<output wsam:Action="http://services/ContatoWS/alterarContatoResponse" message="tns:alterarContatoResponse"/>
</operation>
<operation name="criarContato">
<input wsam:Action="http://services/ContatoWS/criarContatoRequest" message="tns:criarContato"/>
<output wsam:Action="http://services/ContatoWS/criarContatoResponse" message="tns:criarContatoResponse"/>
</operation>
<operation name="excluirContato">
<input wsam:Action="http://services/ContatoWS/excluirContatoRequest" message="tns:excluirContato"/>
<output wsam:Action="http://services/ContatoWS/excluirContatoResponse" message="tns:excluirContatoResponse"/>
</operation>
<operation name="contatoPorID">
<input wsam:Action="http://services/ContatoWS/contatoPorIDRequest" message="tns:contatoPorID"/>
<output wsam:Action="http://services/ContatoWS/contatoPorIDResponse" message="tns:contatoPorIDResponse"/>
</operation>
<operation name="contatoPorNome">
<input wsam:Action="http://services/ContatoWS/contatoPorNomeRequest" message="tns:contatoPorNome"/>
<output wsam:Action="http://services/ContatoWS/contatoPorNomeResponse" message="tns:contatoPorNomeResponse"/>
</operation>
<operation name="listarContatos">
<input wsam:Action="http://services/ContatoWS/listarContatosRequest" message="tns:listarContatos"/>
<output wsam:Action="http://services/ContatoWS/listarContatosResponse" message="tns:listarContatosResponse"/>
</operation>
</portType>
<binding name="ContatoWSPortBinding" type="tns:ContatoWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="alterarContato">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="criarContato">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="excluirContato">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="contatoPorID">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="contatoPorNome">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarContatos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ContatoWS">
<port name="ContatoWSPort" binding="tns:ContatoWSPortBinding">
<soap:address location="http://localhost:8080/AV03_SERVICES/ContatoWS"/>
</port>
</service>
</definitions>