xml-resources/web-service-references/CompromissoWS/wsdl/localhost_8080/AV03_SERVICES/CompromissoWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services/" name="CompromissoWS">
<types>
<xsd:schema>
<xsd:import namespace="http://services/" schemaLocation="http://localhost:8080/AV03_SERVICES/CompromissoWS?xsd=1"/>
</xsd:schema>
</types>
<message name="listarCompromissos">
<part name="parameters" element="tns:listarCompromissos"/>
</message>
<message name="listarCompromissosResponse">
<part name="parameters" element="tns:listarCompromissosResponse"/>
</message>
<message name="alterarCompromisso">
<part name="parameters" element="tns:alterarCompromisso"/>
</message>
<message name="alterarCompromissoResponse">
<part name="parameters" element="tns:alterarCompromissoResponse"/>
</message>
<message name="compromissoPorLocal">
<part name="parameters" element="tns:compromissoPorLocal"/>
</message>
<message name="compromissoPorLocalResponse">
<part name="parameters" element="tns:compromissoPorLocalResponse"/>
</message>
<message name="compromissoPorContato">
<part name="parameters" element="tns:compromissoPorContato"/>
</message>
<message name="compromissoPorContatoResponse">
<part name="parameters" element="tns:compromissoPorContatoResponse"/>
</message>
<message name="excluirCompromisso">
<part name="parameters" element="tns:excluirCompromisso"/>
</message>
<message name="excluirCompromissoResponse">
<part name="parameters" element="tns:excluirCompromissoResponse"/>
</message>
<message name="compromissoPorID">
<part name="parameters" element="tns:compromissoPorID"/>
</message>
<message name="compromissoPorIDResponse">
<part name="parameters" element="tns:compromissoPorIDResponse"/>
</message>
<message name="criarCompromisso">
<part name="parameters" element="tns:criarCompromisso"/>
</message>
<message name="criarCompromissoResponse">
<part name="parameters" element="tns:criarCompromissoResponse"/>
</message>
<portType name="CompromissoWS">
<operation name="listarCompromissos">
<input wsam:Action="http://services/CompromissoWS/listarCompromissosRequest" message="tns:listarCompromissos"/>
<output wsam:Action="http://services/CompromissoWS/listarCompromissosResponse" message="tns:listarCompromissosResponse"/>
</operation>
<operation name="alterarCompromisso">
<input wsam:Action="http://services/CompromissoWS/alterarCompromissoRequest" message="tns:alterarCompromisso"/>
<output wsam:Action="http://services/CompromissoWS/alterarCompromissoResponse" message="tns:alterarCompromissoResponse"/>
</operation>
<operation name="compromissoPorLocal">
<input wsam:Action="http://services/CompromissoWS/compromissoPorLocalRequest" message="tns:compromissoPorLocal"/>
<output wsam:Action="http://services/CompromissoWS/compromissoPorLocalResponse" message="tns:compromissoPorLocalResponse"/>
</operation>
<operation name="compromissoPorContato">
<input wsam:Action="http://services/CompromissoWS/compromissoPorContatoRequest" message="tns:compromissoPorContato"/>
<output wsam:Action="http://services/CompromissoWS/compromissoPorContatoResponse" message="tns:compromissoPorContatoResponse"/>
</operation>
<operation name="excluirCompromisso">
<input wsam:Action="http://services/CompromissoWS/excluirCompromissoRequest" message="tns:excluirCompromisso"/>
<output wsam:Action="http://services/CompromissoWS/excluirCompromissoResponse" message="tns:excluirCompromissoResponse"/>
</operation>
<operation name="compromissoPorID">
<input wsam:Action="http://services/CompromissoWS/compromissoPorIDRequest" message="tns:compromissoPorID"/>
<output wsam:Action="http://services/CompromissoWS/compromissoPorIDResponse" message="tns:compromissoPorIDResponse"/>
</operation>
<operation name="criarCompromisso">
<input wsam:Action="http://services/CompromissoWS/criarCompromissoRequest" message="tns:criarCompromisso"/>
<output wsam:Action="http://services/CompromissoWS/criarCompromissoResponse" message="tns:criarCompromissoResponse"/>
</operation>
</portType>
<binding name="CompromissoWSPortBinding" type="tns:CompromissoWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="listarCompromissos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="alterarCompromisso">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="compromissoPorLocal">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="compromissoPorContato">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="excluirCompromisso">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="compromissoPorID">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="criarCompromisso">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="CompromissoWS">
<port name="CompromissoWSPort" binding="tns:CompromissoWSPortBinding">
<soap:address location="http://localhost:8080/AV03_SERVICES/CompromissoWS"/>
</port>
</service>
</definitions>